@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.myImage {
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.myName {
  font-family: "Lobster", cursive;
}

.hiIcon {
  animation-name: moving;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.myProfession {
  animation-name: changeColor;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  background: -webkit-linear-gradient(25deg, #53fb0c, #09c1eb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

@keyframes changeColor {
  0% {
    background: -webkit-linear-gradient(25deg, #53fb0c, #09c1eb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
  }
  25% {
    background: -webkit-linear-gradient(25deg, #f71010, #02ccf9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
  }
  50% {
    background: -webkit-linear-gradient(25deg, #32f0e6, #424bf2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
  }
  75% {
    background: -webkit-linear-gradient(25deg, #0f34f2, #efef31);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
  }
}


@keyframes bounce {
  from {
    transform: translateY(-300px);
  }
  90% {
    transform: translateY(5px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes moving {
  from {
    transform: translateX(-5px);
  }
  to {
    transform: translateX(5px);
  }
}
